/*!
 * jQuery Mobile v1.0rc2
 * http://jquerymobile.com/
 *
 * Copyright 2010, jQuery Project
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 */
/*!
* jQuery Mobile Framework
* Copyright (c) jQuery Project
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid   		#B3B3B3   /*{a-bar-border}*/;
	background:   			#e9eaeb   /*{a-bar-background-color}*/;
	color:   	#3E3E3E   /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:   0   /*{a-bar-shadow-x}*/   1px   /*{a-bar-shadow-y}*/   1px   /*{a-bar-shadow-radius}*/   	#fff   /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(   #f0f0f0   /*{a-bar-background-start}*/), to(   #e9eaeb   /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(   #f0f0f0   /*{a-bar-background-start}*/,   #e9eaeb   /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(   #f0f0f0   /*{a-bar-background-start}*/,   #e9eaeb   /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(   #f0f0f0   /*{a-bar-background-start}*/,   #e9eaeb   /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(   #f0f0f0   /*{a-bar-background-start}*/,   #e9eaeb   /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(   #f0f0f0   /*{a-bar-background-start}*/,   #e9eaeb   /*{a-bar-background-end}*/);
}

.ui-bar-a .ui-link-inherit {
	color:   	#3E3E3E   /*{a-bar-color}*/;
}
.ui-bar-a .ui-link {
	color:   #7cc4e7   /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a .ui-link:hover {
	color:   #2489CE   /*{a-bar-link-hover}*/;
}

.ui-bar-a .ui-link:active {
	color:   #2489CE   /*{a-bar-link-active}*/;
}

.ui-bar-a .ui-link:visited {
    color:   #2489CE   /*{a-bar-link-visited}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}
.ui-body-a,
.ui-dialog.ui-overlay-a {
	border: 1px solid   		#B3B3B3   /*{a-body-border}*/;
	color:   	#333333   /*{a-body-color}*/;
	text-shadow:   0   /*{a-body-shadow-x}*/   1px   /*{a-body-shadow-y}*/   0   /*{a-body-shadow-radius}*/   #fff   /*{a-body-shadow-color}*/;
	background:  #fff5f5  /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #FFFCFC  /*{a-body-background-start}*/), to(  #F7EDED  /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #FFFCFC  /*{a-body-background-start}*/,  #F7EDED  /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #FFFCFC  /*{a-body-background-start}*/,  #F7EDED  /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #FFFCFC  /*{a-body-background-start}*/,  #F7EDED  /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #FFFCFC  /*{a-body-background-start}*/,  #F7EDED  /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #FFFCFC  /*{a-body-background-start}*/,  #F7EDED  /*{a-body-background-end}*/);
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}

.ui-body-a .ui-link-inherit {
	color:   	#333333   /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color:  #64afe3  /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:hover {
	color:   #2489CE   /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color:   #2489CE   /*{a-body-link-active}*/;
}

.ui-body-a .ui-link:visited {
    color:   #2489CE   /*{a-body-link-visited}*/;
}

.ui-btn-up-a {
	border: 1px solid  #000000  /*{a-bup-border}*/;
	background:  #ffffff  /*{a-bup-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{a-bup-color}*/;
	text-shadow:  1px  /*{a-bup-shadow-x}*/   1px   /*{a-bup-shadow-y}*/  0  /*{a-bup-shadow-radius}*/  #000000  /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #565656  /*{a-bup-background-start}*/), to(  #3f3f3f  /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #565656  /*{a-bup-background-start}*/,  #3f3f3f  /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #565656  /*{a-bup-background-start}*/,  #3f3f3f  /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #565656  /*{a-bup-background-start}*/,  #3f3f3f  /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #565656  /*{a-bup-background-start}*/,  #3f3f3f  /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #565656  /*{a-bup-background-start}*/,  #3f3f3f  /*{a-bup-background-end}*/);
}
.ui-btn-up-a a.ui-link-inherit {
	color:  #ffffff  /*{a-bup-color}*/;
}

.ui-btn-hover-a {
	border: 1px solid  #000000  /*{a-bhover-border}*/;
	background:   			#dadada   /*{a-bhover-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{a-bhover-color}*/;
	text-shadow:  1px  /*{a-bhover-shadow-x}*/   1px   /*{a-bhover-shadow-y}*/  0  /*{a-bhover-shadow-radius}*/  #000000  /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #4da1e3  /*{a-bhover-background-start}*/), to(  #3169b5  /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #4da1e3  /*{a-bhover-background-start}*/,  #3169b5  /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #4da1e3  /*{a-bhover-background-start}*/,  #3169b5  /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #4da1e3  /*{a-bhover-background-start}*/,  #3169b5  /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #4da1e3  /*{a-bhover-background-start}*/,  #3169b5  /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #4da1e3  /*{a-bhover-background-start}*/,  #3169b5  /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a a.ui-link-inherit {
	color:  #ffffff  /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid   		#808080   /*{a-bdown-border}*/;
	background:   			#fdfdfd   /*{a-bdown-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{a-bdown-color}*/;
	text-shadow:  1px  /*{a-bdown-shadow-x}*/   1px   /*{a-bdown-shadow-y}*/  0  /*{a-bdown-shadow-radius}*/  #000000  /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #79bdf3  /*{a-bdown-background-start}*/), to(  #3c81e0  /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #79bdf3  /*{a-bdown-background-start}*/,  #3c81e0  /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #79bdf3  /*{a-bdown-background-start}*/,  #3c81e0  /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #79bdf3  /*{a-bdown-background-start}*/,  #3c81e0  /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #79bdf3  /*{a-bdown-background-start}*/,  #3c81e0  /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #79bdf3  /*{a-bdown-background-start}*/,  #3c81e0  /*{a-bdown-background-end}*/);
}
.ui-btn-down-a a.ui-link-inherit {
	color:  #ffffff  /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
	text-decoration: none;
}

/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid   		#B3B3B3   /*{b-bar-border}*/;
	background:   			#e9eaeb   /*{b-bar-background-color}*/;
	color:   	#3E3E3E   /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow:   0   /*{b-bar-shadow-x}*/   1px   /*{b-bar-shadow-y}*/   1px   /*{b-bar-shadow-radius}*/   	#fff   /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(   #f0f0f0   /*{b-bar-background-start}*/), to(   #e9eaeb   /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(   #f0f0f0   /*{b-bar-background-start}*/,   #e9eaeb   /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(   #f0f0f0   /*{b-bar-background-start}*/,   #e9eaeb   /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(   #f0f0f0   /*{b-bar-background-start}*/,   #e9eaeb   /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(   #f0f0f0   /*{b-bar-background-start}*/,   #e9eaeb   /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(   #f0f0f0   /*{b-bar-background-start}*/,   #e9eaeb   /*{b-bar-background-end}*/);
}

.ui-bar-b .ui-link-inherit {
	color:   	#3E3E3E   /*{b-bar-color}*/;
}
.ui-bar-b .ui-link {
	color:   #7cc4e7   /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b .ui-link:hover {
	color:   #2489CE   /*{b-bar-link-hover}*/;
}

.ui-bar-b .ui-link:active {
	color:   #2489CE   /*{b-bar-link-active}*/;
}

.ui-bar-b .ui-link:visited {
    color:   #2489CE   /*{b-bar-link-visited}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}
.ui-body-b,
.ui-dialog.ui-overlay-b {
	border: 1px solid  #ddd  /*{b-body-border}*/;
	color:   	#333333   /*{b-body-color}*/;
	text-shadow:  1px  /*{b-body-shadow-x}*/   1px   /*{b-body-shadow-y}*/   0   /*{b-body-shadow-radius}*/   #fff   /*{b-body-shadow-color}*/;
	background:  #ffffff  /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #FFFFFF  /*{b-body-background-start}*/), to(  #F2F2F2  /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #FFFFFF  /*{b-body-background-start}*/,  #F2F2F2  /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #FFFFFF  /*{b-body-background-start}*/,  #F2F2F2  /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #FFFFFF  /*{b-body-background-start}*/,  #F2F2F2  /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #FFFFFF  /*{b-body-background-start}*/,  #F2F2F2  /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #FFFFFF  /*{b-body-background-start}*/,  #F2F2F2  /*{b-body-background-end}*/);
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}

.ui-body-b .ui-link-inherit {
	color:   	#333333   /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color:  #64afe3  /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:hover {
	color:   #2489CE   /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color:   #2489CE   /*{b-body-link-active}*/;
}

.ui-body-b .ui-link:visited {
    color:   #2489CE   /*{b-body-link-visited}*/;
}

.ui-btn-up-b {
	border: 1px solid  #ddd  /*{b-bup-border}*/;
	background:  #ffffff  /*{b-bup-background-color}*/;
	font-weight: bold;
	color:  #000000  /*{b-bup-color}*/;
	text-shadow:  1px  /*{b-bup-shadow-x}*/   1px   /*{b-bup-shadow-y}*/  0  /*{b-bup-shadow-radius}*/  #ffffff  /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #FFFFFF  /*{b-bup-background-start}*/), to(  #EFEFEF  /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #FFFFFF  /*{b-bup-background-start}*/,  #EFEFEF  /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #FFFFFF  /*{b-bup-background-start}*/,  #EFEFEF  /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #FFFFFF  /*{b-bup-background-start}*/,  #EFEFEF  /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #FFFFFF  /*{b-bup-background-start}*/,  #EFEFEF  /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #FFFFFF  /*{b-bup-background-start}*/,  #EFEFEF  /*{b-bup-background-end}*/);
}
.ui-btn-up-b a.ui-link-inherit {
	color:  #000000  /*{b-bup-color}*/;
}

.ui-btn-hover-b {
	border: 1px solid  #ddd  /*{b-bhover-border}*/;
	background:  #dadada  /*{b-bhover-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{b-bhover-color}*/;
	text-shadow:  1px  /*{b-bhover-shadow-x}*/   1px   /*{b-bhover-shadow-y}*/  0  /*{b-bhover-shadow-radius}*/  #000000  /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #4da1e3  /*{b-bhover-background-start}*/), to(  #3169b5  /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #4da1e3  /*{b-bhover-background-start}*/,  #3169b5  /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #4da1e3  /*{b-bhover-background-start}*/,  #3169b5  /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #4da1e3  /*{b-bhover-background-start}*/,  #3169b5  /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #4da1e3  /*{b-bhover-background-start}*/,  #3169b5  /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #4da1e3  /*{b-bhover-background-start}*/,  #3169b5  /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b a.ui-link-inherit {
	color:  #ffffff  /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid  #808080  /*{b-bdown-border}*/;
	background:   			#fdfdfd   /*{b-bdown-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{b-bdown-color}*/;
	text-shadow:  1px  /*{b-bdown-shadow-x}*/   1px   /*{b-bdown-shadow-y}*/  0  /*{b-bdown-shadow-radius}*/  #000000  /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #79bdf3  /*{b-bdown-background-start}*/), to(  #3c81e0  /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #79bdf3  /*{b-bdown-background-start}*/,  #3c81e0  /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #79bdf3  /*{b-bdown-background-start}*/,  #3c81e0  /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #79bdf3  /*{b-bdown-background-start}*/,  #3c81e0  /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #79bdf3  /*{b-bdown-background-start}*/,  #3c81e0  /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #79bdf3  /*{b-bdown-background-start}*/,  #3c81e0  /*{b-bdown-background-end}*/);
}
.ui-btn-down-b a.ui-link-inherit {
	color:  #ffffff  /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
	text-decoration: none;
}



/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-c {
	border: 1px solid #4d4d4d /*{c-bar-border}*/;
	background: #333333 /*{c-bar-background-color}*/;
	color: #ffffff /*{c-bar-color}*/;
	font-weight: bold;
	text-shadow:   0   /*{c-bar-shadow-x}*/ 0 /*{c-bar-shadow-y}*/ 0 /*{c-bar-shadow-radius}*/ #000 /*{c-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #333333 /*{c-bar-background-start}*/), to( #333333 /*{c-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #333333 /*{c-bar-background-start}*/, #333333 /*{c-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #333333 /*{c-bar-background-start}*/, #333333 /*{c-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #333333 /*{c-bar-background-start}*/, #333333 /*{c-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #333333 /*{c-bar-background-start}*/, #333333 /*{c-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #333333 /*{c-bar-background-start}*/, #333333 /*{c-bar-background-end}*/);
}

.ui-bar-c .ui-link-inherit {
	color: #ffffff /*{c-bar-color}*/;
}
.ui-bar-c .ui-link {
	color:   #7cc4e7   /*{c-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-c .ui-link:hover {
	color:   #2489CE   /*{c-bar-link-hover}*/;
}

.ui-bar-c .ui-link:active {
	color:   #2489CE   /*{c-bar-link-active}*/;
}

.ui-bar-c .ui-link:visited {
    color:   #2489CE   /*{c-bar-link-visited}*/;
}

.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}
.ui-body-c,
.ui-dialog.ui-overlay-c {
	border: 1px solid #4d4d4d /*{c-body-border}*/;
	color: #919191 /*{c-body-color}*/;
	text-shadow:   0   /*{c-body-shadow-x}*/ 0 /*{c-body-shadow-y}*/   0   /*{c-body-shadow-radius}*/ #000000 /*{c-body-shadow-color}*/;
	background: #312e2e /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3c3a3b /*{c-body-background-start}*/), to( #3c3a3b /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3c3a3b /*{c-body-background-start}*/, #3c3a3b /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3c3a3b /*{c-body-background-start}*/, #3c3a3b /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3c3a3b /*{c-body-background-start}*/, #3c3a3b /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3c3a3b /*{c-body-background-start}*/, #3c3a3b /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3c3a3b /*{c-body-background-start}*/, #3c3a3b /*{c-body-background-end}*/);
}
.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}

.ui-body-c .ui-link-inherit {
	color: #919191 /*{c-body-color}*/;
}

.ui-body-c .ui-link {
	color: #64bbf7 /*{c-body-link-color}*/;
	font-weight: bold;
}

.ui-body-c .ui-link:hover {
	color:   #2489CE   /*{c-body-link-hover}*/;
}

.ui-body-c .ui-link:active {
	color:   #2489CE   /*{c-body-link-active}*/;
}

.ui-body-c .ui-link:visited {
    color:   #2489CE   /*{c-body-link-visited}*/;
}

.ui-btn-up-c {
	border: 1px solid #4d4d4d /*{c-bup-border}*/;
	background: #333333 /*{c-bup-background-color}*/;
	font-weight: bold;
	color: #fff /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 1px /*{c-bup-shadow-radius}*/  #000000  /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #555555 /*{c-bup-background-start}*/), to( #444444 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #555555 /*{c-bup-background-start}*/, #444444 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #555555 /*{c-bup-background-start}*/, #444444 /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #555555 /*{c-bup-background-start}*/, #444444 /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #555555 /*{c-bup-background-start}*/, #444444 /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #555555 /*{c-bup-background-start}*/, #444444 /*{c-bup-background-end}*/);
}
.ui-btn-up-c a.ui-link-inherit {
	color: #fff /*{c-bup-color}*/;
}

.ui-btn-hover-c {
	border: 1px solid  #000000  /*{c-bhover-border}*/;
	background:   			#dadada   /*{c-bhover-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{c-bhover-color}*/;
	text-shadow:  1px  /*{c-bhover-shadow-x}*/   1px   /*{c-bhover-shadow-y}*/  0  /*{c-bhover-shadow-radius}*/  #000000  /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #4da1e3  /*{c-bhover-background-start}*/), to(  #3169b5  /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #4da1e3  /*{c-bhover-background-start}*/,  #3169b5  /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #4da1e3  /*{c-bhover-background-start}*/,  #3169b5  /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #4da1e3  /*{c-bhover-background-start}*/,  #3169b5  /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #4da1e3  /*{c-bhover-background-start}*/,  #3169b5  /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #4da1e3  /*{c-bhover-background-start}*/,  #3169b5  /*{c-bhover-background-end}*/);
}
.ui-btn-hover-c a.ui-link-inherit {
	color:  #ffffff  /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	border: 1px solid   		#808080   /*{c-bdown-border}*/;
	background:   			#fdfdfd   /*{c-bdown-background-color}*/;
	font-weight: bold;
	color:  #ffffff  /*{c-bdown-color}*/;
	text-shadow:  1px  /*{c-bdown-shadow-x}*/   1px   /*{c-bdown-shadow-y}*/  0  /*{c-bdown-shadow-radius}*/  #000000  /*{c-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #79bdf3  /*{c-bdown-background-start}*/), to(  #3c81e0  /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #79bdf3  /*{c-bdown-background-start}*/,  #3c81e0  /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #79bdf3  /*{c-bdown-background-start}*/,  #3c81e0  /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #79bdf3  /*{c-bdown-background-start}*/,  #3c81e0  /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #79bdf3  /*{c-bdown-background-start}*/,  #3c81e0  /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #79bdf3  /*{c-bdown-background-start}*/,  #3c81e0  /*{c-bdown-background-end}*/);
}
.ui-btn-down-c a.ui-link-inherit {
	color:  #ffffff  /*{c-bdown-color}*/;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
	text-decoration: none;
}



/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-active {
	border: 1px solid  #000000  /*{global-active-border}*/;
	background:   			#387bbe   /*{global-active-background-color}*/;
	font-weight: bold;
	color:   					#fff   /*{global-active-color}*/;
	cursor: pointer;
	text-shadow:   0   /*{global-active-shadow-x}*/   -1px   /*{global-active-shadow-y}*/   1px   /*{global-active-shadow-radius}*/   #145072   /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #4da1d3  /*{global-active-background-start}*/), to(  #3169b5  /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #4da1d3  /*{global-active-background-start}*/,  #3169b5  /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #4da1d3  /*{global-active-background-start}*/,  #3169b5  /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #4da1d3  /*{global-active-background-start}*/,  #3169b5  /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #4da1d3  /*{global-active-background-start}*/,  #3169b5  /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #4da1d3  /*{global-active-background-start}*/,  #3169b5  /*{global-active-background-end}*/);
	      font-family: Helvetica, Arial, sans-serif   /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color:   					#fff   /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.8em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.8em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.8em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.8em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.8em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.8em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.8em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.8em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.8em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.8em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.8em /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.8em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.8em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.8em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.8em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.8em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.8em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.8em /*{global-radii-blocks}*/;
	border-radius: 0.8em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: 							.3;
}
.ui-disabled,
.ui-disabled a {
	pointer-events: none;
	cursor: default;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: rgba(0,0,0,0.25) /*{global-icon-disc}*/;
	background-image: url(http://code.jquery.com/mobile/latest/images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png);
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color:   			#387bbe   /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background-image: url(images/ajax-loader.png);
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1.2em /*{global-radii-buttons}*/;
	border-top-left-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1.2em /*{global-radii-buttons}*/;
	border-top-right-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1.2em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1.2em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1.2em /*{global-radii-buttons}*/;
	border-top-left-radius: 1.2em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1.2em /*{global-radii-buttons}*/;
	border-top-right-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1.2em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1.2em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1.2em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 1.2em /*{global-radii-buttons}*/;
	border-top-right-radius: 1.2em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 1.2em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 1.2em /*{global-radii-buttons}*/;
	border-top-left-radius: 1.2em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 1.2em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 1.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 1.2em /*{global-radii-buttons}*/;
	-webkit-border-radius: 1.2em /*{global-radii-buttons}*/;
	border-radius: 1.2em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl, 
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom, 
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl, 
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom, 
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px   4px   /*{global-box-shadow-size}*/   				rgba(0,0,0,.3)   /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px   4px   /*{global-box-shadow-size}*/   				rgba(0,0,0,.3)   /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px   4px   /*{global-box-shadow-size}*/   				rgba(0,0,0,.3)   /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.4);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.4);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.4);
}

/* Focus state - set here for specificity
-----------------------------------------------------------------------------------------------------------*/

.ui-focus {
	-moz-box-shadow: 0px 0px 12px   			#387bbe   /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px   			#387bbe   /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px   			#387bbe   /*{global-active-background-color}*/;
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus {
	outline-width: 2px;
}