body{
	background: url(../images/bg.jpg) !important;
}

.ui-page{
	background: url(../images/bg.jpg) !important;
}

.ui-content{
	max-width:640px;
	margin:0 auto;
	text-shadow: 1px 1px 0px white;
	color: black;
}

.ui-content img
{
	width: 100%;
	display: block;
	margin: 25px auto;
	-webkit-box-shadow: 0 0 8px -5px #000;
    -moz-box-shadow: 0 0 8px -5px #000; 
    box-shadow: 0 0 8px -5px #000;
}

.ui-body
{
	font-size: 13px;	
	line-height: 18px;
	-moz-border-radius: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.8em /*{global-radii-blocks}*/;
	border-radius: 0.8em /*{global-radii-blocks}*/;
}

#logo
{
	text-align: center;	
}

#logo h1
{
	color: #000;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -1px;
	font-family: 'Lobster';
}

#logo h2
{
	color: #000;
	font-size: 18px;
	margin-top: -20px;
	margin-bottom: 35px;
	font-family: "Times New Roman", Times, serif;;
	font-style: italic;
}

@font-face {
	font-family: Socialico;
	font-style: normal;
	font-weight: normal;
	src: url('socialico.otf');
}

#social
{
	margin-bottom: 40px;
	text-align: center;
}

#social a
{
	text-decoration: none;	
	font-family: "Socialico";
	color: black;
	font-size: 60px;
	opacity: 0.25;	
}

#social a:hover{opacity: 1; color: #4999dd;}

.ui-dialog .ui-header, 
.ui-dialog .ui-content, 
.ui-dialog .ui-footer { 
	max-width: 500px; 
	margin: 5% auto 15px auto; 
}
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
#Gallery1 .gallery li { float: left; width: 100%; }
#Gallery2 .gallery li { float: left; width: 33.3333333%; }
.gallery li a { display: block; margin: 5px; border: none !important; }
.gallery li img { display: block; width: 100%; height: auto; }

#Gallery1 .ui-content, #Gallery2 .ui-content { overflow: hidden; }
#Header { background: #EEBF02; height: 61px; padding: 0; border-bottom: 1px solid #3c3c3c;  }
#Header img { display: block; margin: 0 auto 0; }

#MainContent { background: #ffffff; padding-bottom: 30px; }

#Footer { padding: 10px; border-top: none; } 

#SocialLinks { padding: 10px 0 0 0; }
#SocialLinks:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
#SocialLinks a { display: block; float: left; padding-right: 15px; }

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }


/* For inline examples only */
#PhotoSwipeTarget { width: 100%; height: 200px; }

#Indicators { text-align: center; margin-top: 20px; }
#Indicators span { display: inline-block; height: 10px; width: 10px; margin: 0 10px 0 0; padding: 0; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background: #c5c5c5; overflow:hidden; }
#Indicators span.current{ background: #EEBF02; }

.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline; position: relative;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(../images/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}

.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides { padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; max-height:350px; margin:0 auto;-moz-border-radius: 0.8em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.8em /*{global-radii-blocks}*/;
	border-radius: 0.8em /*{global-radii-blocks}*/;-webkit-box-shadow: 0 0 8px -5px #000;
    -moz-box-shadow: 0 0 8px -5px #000; 
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.5);}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}

/* Slider Theme
*********************************/
.flexslider { position: relative; background-color: transparent; left: -0px;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative; margin-bottom:0px; border-bottom:1px solid #aaa  }

.slider-description
{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

/* Main Theme Overriding */

.ui-body
{
    background: #24cbe2;

}

.ui-btn-active {
	border: 1px solid #111;
	cursor: pointer;
}


li .ui-btn-text , .ui-btn
{
    background: #FFFFFF;
	border: 0;
}
/*
li .ui-btn-text:hover, .ui-btn:hover {
	background: #3c81e0;
}
*/
.ui-btn-text
{
	/*background-color: transparent !important;*/
    font-size: 18px;
    color: #adadad;
}